<app-navigation-menu></app-navigation-menu>
<p class="my-5 text-color-5 text-xl font-medium mx-16">Home/Service</p>
<div class="bg-color-4 mx-16 px-32 my-10 w-auto h-auto py-8 grid grid-cols-3 *:col-span-1 gap-8 ">
    <div class="bg-white border rounded-xl w-full h-[50svh]" *ngFor="let item of serviceLists">
        <img src="image/logo-company.jpg" alt="" class=" w-full h-[60%] rounded-t-xl border ">
        <div class="flex flex-col px-4 space-y-3 py-5 relative">
            <h1 class="text-color-1 font-semibold text-2xl capitalize">{{item.name }}</h1>
            <p  class="">{{item.description}}</p>
            <button type="button" class=" text-start text-color-2 capitalize flex items-center space-x-4 group ">
                <h1 class="group-hover:text-color-3"> <a [routerLink]="['/service', item.name]" >Mostrar mas</a></h1>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.3" stroke="currentColor" class="size-6 text-color-1 group-hover:text-color-3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg> 
            </button>

            <div class="absolute w-full h-[17.7rem] hover:bg-color-1 hover:bg-opacity-70 -top-72 -translate-y-2 rounded-t-xl left-0 -translate-x-0">

            </div>
            <div class="absolute h-16 w-16 bg-color-1  rounded-full transform -top-12  translate-y-0  right-0  -translate-x-4 flex justify-center items-center group hover:border ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-color-3 group-hover:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                </svg>
            </div>
        </div>
    </div>

</div>

<app-footer-page></app-footer-page>
