<!-- <p>panel-contacts works!</p> -->
<!-- <div class="bg-color-4 mx-16 my-10 w-auto  h-[70svh]  space-y-10 px-10 py-10">
    <h1 class="text-3xl text-center text-color-2 font-semibold uppercase">Ven y </h1>
    <h1 class="text-4xl text-center text-color-1 font-bold capitalize">contactos</h1>
    <div class="grid grid-cols-4 *:col-span-1 gap-8  w-full h-[45svh] ">
        <div class="bg-color-3 hover:bg-color-1 rounded-xl flex justify-center items-center flex-col">
            <div>
                <h1>Emergencia</h1>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="bg-color-3 hover:bg-color-1 rounded-xl">
    
        </div>
        <div class="bg-color-3 hover:bg-color-1 rounded-xl">
    
        </div>
        <div class="bg-color-3 hover:bg-color-1 rounded-xl font-Inter">
    
        </div>
    </div>
    
</div> -->

<div class="content-info-main">
    <h2 class="h2-style-global">Ven y comunicate con nosotros</h2>
    <h1 class="h1-style-global">Nuestros Contactanos</h1>
    <div class="w-full h-[15rem] grid grid-cols-3 gap-56">
        <div class="group div-content">
            <i class="fa-duotone fa-solid fa-location-dot fa-2xl  icon-element "></i>
            <h3 class="h3-element">Ubicacion</h3>
            <p  class="p-element">Jr. Calixto #123</p>
            <p  class="p-element">Jr. Calixto #123</p>
        </div>
        <div class="group div-content">
            <i class="fa-regular fa-envelope fa-2xl icon-element"></i>
            <h3 class="h3-element">Correo</h3>
            <p  class="p-element">angulargmail.com</p>
            <p  class="p-element">angulargmail.com</p>
        </div>
        <div class="group div-content">
            <i class="fa-regular fa-clock fa-2xl icon-element"></i>
            <h3 class="h3-element">Horario</h3>
            <p  class="p-element">Lunes a sabado</p>
            <p  class="p-element">10:00 a.m - 08:00 p.m</p>
        </div>
    </div>
</div>

