<p>panel-contacts works!</p>
<div class="bg-color-4 mx-16 my-10 w-auto  h-[70svh]  space-y-10 px-10 py-10">
    <h1 class="text-3xl text-center text-color-2 font-semibold uppercase">Ven y </h1>
    <h1 class="text-4xl text-center text-color-1 font-bold capitalize">contactos</h1>
    <div class="grid grid-cols-4 *:col-span-1 gap-8  w-full h-[45svh] ">
        <div class="bg-color-3 hover:bg-color-1 rounded-xl flex justify-center items-center flex-col">
            <div>
                <h1>Emergencia</h1>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="bg-color-3 hover:bg-color-1 rounded-xl">
    
        </div>
        <div class="bg-color-3 hover:bg-color-1 rounded-xl">
    
        </div>
        <div class="bg-color-3 hover:bg-color-1 rounded-xl">
    
        </div>
    </div>
    
</div>
